<!-- include header -->
<%-include('include/_header')%>
<!-- /include header -->

<!-- main site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            
        </div>

        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex-justify-between">
                    <a href="/" class="border-shadow"><br>
    
                     <span class="text-gradient" >Show all User <i class="fas fa-user"></i></span>
                    </a>
                </div>
                <br>

                <span >New User<br> <i >use the below form to create the new account</i>
       
<!-- add user form -->
<%-include('include/_form')%>


    
     
 
    </div>


</main>
<!-- /main site -->



<!-- include footer -->
<%-include('include/_footer')%>
<!-- /include footer -->